  <center>


<body>

<header>
<h1><center>FINDDISH<center></h1>
</header>

  <% @quizz.each do |tupla| %>
       <div>
       <p>Platillo y Establecimiento: <%= tupla.Nombre%> </p>
<<<<<<< HEAD
      
       </div> 
      
       <div>
       <%= tupla.N_Ordenes %>
       </div> 
=======

       </div>

       <div>
       <%= tupla.N_Ordenes %>
       </div>
>>>>>>> c3398576893e78e20ed18bd5e3e0dc45dc99e76f
       <% end %>

</div>
<br>
<<<<<<< HEAD
   
=======

>>>>>>> c3398576893e78e20ed18bd5e3e0dc45dc99e76f
</section>
</article>

<footer>
  <center><em>Tareas </em></center>
</footer>

</body>
</html>
